@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4daa;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.preloader img {
  width: 350px;
  animation: flash 1s linear infinite;
}

.preloader.remove {
  top: -100%;
}

body {
  background-color: #1E1F2B;
  font-family: "Inter", sans-serif;
}

.theTitle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.theTitle .main-tittle {
  width: -moz-fit-content;
  width: fit-content;
  color: #FFF;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  font-size: 50px;
}

.theTitle .main-tittle::before {
  content: attr(data-desc);
  position: absolute;
  letter-spacing: 3px;
  left: -30px;
  top: -35px;
  font-size: 90px;
  z-index: -5;
  color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

@media (min-width: 0px) and (max-width: 767px) {
  .theTitle .main-tittle::before {
    left: -10px;
    font-size: 65px;
    top: -20px;
  }
}

.theTitle .main-tittle span:first-child,
.theTitle .main-tittle span:last-child {
  position: absolute;
  height: 4px;
}

.theTitle .main-tittle span:first-child {
  background-color: #4d4daa;
  left: 0;
  width: 25%;
  bottom: -7px;
  border-radius: 6px;
}

.theTitle .main-tittle span:last-child {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  left: 0;
  bottom: -20px;
}

.theTitle p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  line-height: 1.6;
  max-width: 450px;
  margin: 30px 0;
}

@keyframes moveLeft {
  from {
    transform: translateX(-30px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(30px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fromTo {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes flash {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.app {
  display: flex;
}

.app .sidebar {
  width: 70px;
  background-color: rgba(255, 255, 255, 0.03);
  height: 100vh;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .logo {
  width: 60px;
  height: 60px;
}

@media(max-width:767px) {
  .sidebar .logo {
    display: none;
  }
}

.sidebar .logo img {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .app .sidebar {
    flex-direction: row;
    background-color: #1E1F2B;
    box-shadow: 0 0 1px #000;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 72px;
    z-index: 999;
  }
}

.app .sidebar>img {
  width: 50px;
  height: 50px;
}

@media (max-width: 992px) {
  .app .sidebar>img {
    display: none;
  }
}

.app .sidebar .links {
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

@media (max-width: 992px) {
  .app .sidebar .links {
    flex-direction: row;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .sidebar .links {
    gap: 10px;
  }
}

.app .sidebar .links li {
  list-style: none;
}

.app .sidebar .links li a {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  display: block;
  transition: 0.5s ease;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
}


.app .sidebar .links li a.active,
.app .sidebar .links li a:hover {
  background-color: #4d4daa;
}

.app .content {
  flex: 1;
  min-height: 100vh;
  position: relative;
}

.app .content::before {
  content: "";
  background-image: url("../image/spider/spider1.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  z-index: -3;
  opacity: 0.1;
}

.app .content .section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  overflow-x: hidden;
}

.app .content .section.active {
  display: block;
}

.app .content .home .row {
  height: 100vh;
  align-items: center;
}

.app .content .home .row .box {
  position: relative;
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .home .row .box {
    margin: 30px 0;
  }
}

.app .content .home .row .box .rectangles img {
  position: absolute;
  z-index: -1;
}

.app .content .home .row .box .rectangles img:nth-child(1) {
  top: -40px;
  left: 0;
}

.app .content .home .row .box .rectangles img:nth-child(2) {
  top: -40px;
  right: 0;
}

.app .content .home .row .box .rectangles img:nth-child(3) {
  bottom: -40px;
  right: 0;
}

.app .content .home .row .box .rectangles img:nth-child(4) {
  bottom: -40px;
  left: 0;
}

.app .content .home .row .box .rectangles img:nth-child(5) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app .content .home .row .box .rectangles img:nth-child(6) {
  top: 100px;
  right: 0;
}

.app .content .home .row .box .rectangles img:nth-child(7) {
  left: 140px;
  top: 40px;
}

.app .content .home .row .box .rectangles img:nth-child(8) {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}

.app .content .home .row .box .rectangles img:nth-child(9) {
  right: 140px;
  top: 40px;
}

.app .content .home .row .box .text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .home .row .box .text {
    text-align: center;
  }
}

.app .content .home .row .box .text h2 {
  color: #FFF;
  font-weight: 500;
  margin-bottom: 10px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .home .row .box .text h2 {
    font-size: 20px;
  }
}

.app .content .home .row .box .text h2 span {
  font-weight: bold;
  color: #4d4daa;
  font-size: 30px;
}

.app .content .home .row .box .text span {
  color: #FFF;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 13px;
  margin-bottom: 10px;
  display: inline-block;
}

.app .content .home .row .box .text p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  max-width: 450px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .home .row .box .text p {
    max-width: 350px;
    margin: 0 auto 15px;
  }
}

.app .content .home .row .box .myList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .home .row .box .myList {
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
}

.app .content .home .row .box .myList li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.app .content .home .row .box .myList li span:first-child {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.app .content .home .row .box .myList li span:last-child {
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.app .content .home .row .box .myList li span:last-child img {
  width: 22px;
}

.app .content .home .row .image {
  position: relative;
}

.app .content .home .row .image .images img {
  position: absolute;
  z-index: -1;
}

.app .content .home .row .image .images img:nth-child(1) {
  right: 0;
  top: 0;
}

.app .content .home .row .image .images img:nth-child(2) {
  right: 0;
  bottom: 0;
}

.app .content .home .row .image .images img:nth-child(3) {
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.app .content .home .row .image .images img:nth-child(4) {
  left: 0;
  bottom: 0;
}

.app .content .home .row .image .images img:nth-child(5) {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.app .content .home .row .image .images img:nth-child(6) {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.app .content .home .row .image .images img:nth-child(7) {
  top: 0;
  left: 0;
}

.app .content .home .row .image .images img:nth-child(8) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 992px) {
  .app .content .about.active {
    padding-bottom: 100px;
  }
}

.app .content .about.active .theTitle .main-tittle {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .about.active .theTitle p {
  animation: fromBottom 0.5s linear forwards;
}

.app .content .about.active .info li.first {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .about.active .info li.second {
  animation: moveRight 0.5s linear forwards;
}

.app .content .about.active .info li.third {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .about.active .info li.four {
  animation: moveRight 0.5s linear forwards;
}

.app .content .about .info {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.app .content .about .info h2 {
  animation: fromTop 0.5s linear forwards;
  font-weight: bold;
  color: #FFF;
  font-size: 34px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
}

.app .content .about .info li {
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 500;
  position: relative;
  margin-left: 20px;
  transition: 0.5s ease;
}

.app .content .about .info li:hover {
  color: #FFF;
}

.app .content .about .info li:hover::after {
  opacity: 1;
}

.app .content .about .info li::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  width: 15px;
  position: absolute;
  height: 15px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  margin-left: -25px;
  transform: translateY(-50%);
}

.app .content .about .info li::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  left: 3px;
  margin-left: -25px;
  top: 52%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.5s ease;
}

.app .content .about .info li:not(:last-child) {
  margin-bottom: 15px;
}

.app .content .about .image {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.app .content .about .image:hover img {
  transform: skewX(0);
}

.app .content .about .image .img {
  position: relative;
}

.app .content .about .image .img::before,
.app .content .about .image .img::after {
  content: "";
  position: absolute;
  background-image: url("../image/dot-seamless-pattern.svg");
  width: 25%;
  height: 50%;
  background-size: cover;
  opacity: 0.4;
  background-position: center center;
}

.app .content .about .image .img::before {
  top: 0;
  left: 0;
}

.app .content .about .image .img::after {
  bottom: 0;
  right: 0;
}

.app .content .about .image img {
  transition: 0.5s ease;
  width: 80%;
  border-radius: 10px;
  transform: skewY(6deg);
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 992px) {
  .app .content .project.active {
    padding-bottom: 60px;
  }
}

.app .content .project.active .theTitle .main-tittle {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .project.active .theTitle p {
  animation: fromBottom 0.5s linear forwards;
}

.app .content .project.active .info li.first {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .project.active .info li.second {
  animation: moveRight 0.5s linear forwards;
}

.app .content .project.active .info li.third {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .project.active .info li.four {
  animation: moveRight 0.5s linear forwards;
}

.app .content .project .info {
  padding: 0;
  margin: 0;
  position: relative;
}

.app .content .project .info::before {
  content: "";
  width: 4px;
  height: 105%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  left: -20px;
  position: absolute;
  top: 0;
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .project .info::before {
    left: 0;
  }
}

.app .content .project .info h2 {
  animation: fromTop 0.5s linear forwards;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #fff;
  font-size: 34px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
  margin-left: 20px;
  position: relative;
}

.app .content .project .info h2::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.6);
  left: -36px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .project .info h2::before {
    left: -16px;
  }
}

.app .content .project .info li {
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  transition: 0.5s ease;
  margin-bottom: 15px;
  width: -moz-fit-content;
  width: fit-content;
}

.app .content .project .info li.active,
.app .content .project .info li:hover {
  color: #FFF;
  background-color: #4d4daa;
}

.app .content .project .info li::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.6);
  left: -36px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .project .info li::before {
    left: -16px;
  }
}

.app .content .project .content-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app .content .project .content-item .box {
  flex-basis: 48%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  padding: 15px;
  cursor: pointer;
  transition: 0.5s ease;
  animation: fromTo 0.5s forwards linear;
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .project .content-item .box {
    flex-basis: 100%;
  }
}

.app .content .project .content-item .box:hover .text h2 {
  color: #4d4daa;
}

.app .content .project .content-item .box img {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
}

.app .content .project .content-item .box .text {
  text-align: center;
  margin-top: 15px;
}

.app .content .project .content-item .box .text h2 {
  font-weight: bold;
  color: #FFF;
  font-size: 16px;
  letter-spacing: 1.2px;
  transition: 0.5s ease;
}

.app .content .project .content-item .box .text span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .app .content .skills.active {
    padding-bottom: 60px;
  }
}

.app .content .skills.active .theTitle .main-tittle {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .skills.active .theTitle p {
  animation: fromBottom 0.5s linear forwards;
}

.app .content .skills.active .anim1 {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .skills.active .anim2 {
  animation: moveRight 0.5s linear forwards;
}

.app .content .skills.active .anim3 {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .skills.active .anim4 {
  animation: moveRight 0.5s linear forwards;
}

.app .content .skills.active .anim5 {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .skills.active .anim3 {
  animation: moveRight 0.5s linear forwards;
}

.app .content .skills .item {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  transition: 0.5s ease;
}

.app .content .skills .item:hover {
  transform: translateY(-5px);
}

.app .content .skills .item:hover .text h2 {
  color: #4d4daa;
}

.app .content .skills .item img {
  border-radius: 10px;
}

.app .content .skills .item .text {
  margin-top: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.app .content .skills .item .text h2 {
  font-weight: bold;
  color: #FFF;
  font-size: 21px;
  letter-spacing: 1.2px;
  transition: 0.5s ease;
}

.app .content .skills .item .text p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.6;
  font-weight: 400;
  max-width: 350px;
  margin-bottom: 0;
}

.app .content .skills .languages .lang {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 30px;
  position: relative;
}

.app .content .skills .languages .lang::before,
.app .content .skills .languages .lang::after {
  content: "";
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.app .content .skills .languages .lang::before {
  border-color: transparent #fff transparent transparent;
  right: -25px;
}

.app .content .skills .languages .lang::after {
  left: -25px;
  border-color: transparent transparent transparent #4d4daa;
}

.app .content .skills .languages .lang span {
  color: #4d4daa;
  display: inline-block;
}

.app .content .skills .languages .myLangues {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .skills .languages .myLangues {
    width: 350px;
  }
}

.app .content .skills .languages .myLangues li {
  list-style: none;
  width: 82px;
  height: 82px;
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s ease;
}

.app .content .skills .languages .myLangues li:hover {
  transform: translateY(-5px);
}

.app .content .skills .languages .myLangues li img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}

.app .content .skills .languages .over {
  width: 500px;
  position: relative;
  height: 600px;
  margin: 10px auto;
}

@media (min-width: 0px) and (max-width: 767px) {
  .app .content .skills .languages .over {
    width: 350px;
  }
}

.app .content .skills .languages .over::before {
  content: "";
  width: 100%;
  height: 300px;
  border-radius: 542px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.06) 0%, rgba(50, 15, 133, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}

.app .content .skills .languages .over .svgs .one {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.app .content .skills .languages .over .svgs .two {
  position: absolute;
  right: 92px;
  top: -11px;
}

.app .content .skills .languages .over .svgs .five {
  position: absolute;
  left: 92px;
  top: -11px;
}

.app .content .skills .languages .over .svgs .three {
  position: absolute;
  right: 185px;
  top: -12px;
}

.app .content .skills .languages .over .svgs .four {
  position: absolute;
  left: 185px;
  top: -12px;
}

.app .content .skills .languages .item-exper {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 20px;
  border-radius: 10px;
  transition: 0.5s ease;
}

.app .content .skills .languages .item-exper:hover {
  transform: translateY(-5px);
}

.app .content .skills .languages .item-exper:hover .text h2 {
  color: #4d4daa;
}

@media (max-width: 992px) {
  .app .content .skills .languages .item-exper {
    flex-direction: column;
    text-align: center;
  }
}

.app .content .skills .languages .item-exper img {
  width: 100px;
}

.app .content .skills .languages .item-exper .text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.app .content .skills .languages .item-exper .text h2 {
  font-weight: bold;
  color: #FFF;
  margin-bottom: 10px;
  letter-spacing: 1.2px;
  transition: 0.5s ease;
}

.app .content .skills .languages .item-exper .text p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0;
  line-height: 1.6;
}

@media (max-width: 992px) {
  .app .content .contact.active {
    padding-bottom: 120px;
  }
}

.app .content .contact.active .theTitle .main-tittle {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .contact.active .theTitle p {
  animation: fromBottom 0.5s linear forwards;
}

.app .content .contact.active .con-box.first {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .contact.active .con-box.last {
  animation: moveRight 0.5s linear forwards;
}

.app .content .contact.active .social i:first-child {
  animation: moveLeft 0.5s linear forwards;
}

.app .content .contact.active .social i:nth-child(2) {
  animation: moveRight 0.5s linear forwards;
}

.app .content .contact.active .social i:nth-child(3) {
  animation: fromBottom 0.5s linear forwards;
}

.app .content .contact.active .social i:nth-child(4) {
  animation: fromTop 0.5s linear forwards;
}

.app .content .contact.active .social i:nth-child(5) {
  animation: moveRight 0.5s linear forwards;
}

.app .content .contact .con-box {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.5s ease;
}

.app .content .contact .con-box:hover {
  transform: translateX(55px);
}

.app .content .contact .con-box:hover .text h2 {
  color: #4d4daa;
}

.app .content .contact .con-box:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  padding-bottom: 10px;
}

.app .content .contact .con-box.last {
  padding-top: 10px;
}

.app .content .contact .con-box .icon {
  background-color: rgba(255, 255, 255, 0.06);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #FFF;
  border-radius: 4px;
}

.app .content .contact .con-box .text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.app .content .contact .con-box .text span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 400;
}

.app .content .contact .con-box .text h2 {
  font-weight: bold;
  color: #FFF;
  font-size: 25px;
  text-transform: capitalize;
  transition: 0.5s ease;
}

.app .content .contact .title {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 13px;
}

.app .content .contact .social {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 25px;
}

.app .content .contact .social i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.5s ease;
  cursor: pointer;
}

.app .content .contact .social i:hover {
  color: #fff;
  transform: translateY(5px);
}

.app .content .contact .social i:hover.bxl-facebook {
  background-color: #3b5998;
}

.app .content .contact .social i:hover.bxl-twitter {
  background-color: #55acee;
}

.app .content .contact .social i:hover.bxl-codepen {
  background-color: #444;
}

.app .content .contact .social i:hover.bxl-instagram {
  background-color: #3f729b;
}

.app .content .contact .social i:hover.bxl-linkedin {
  background-color: #0a66c2;
}

.app .content .contact .image {
  position: relative;
  text-align: center;
}

@media(max-width:767px) {
  .app .content .contact .image img {
    width: 350px;
    height: 350px;
  }
}

.app .content .contact .image .fistText,
.app .content .contact .image .secText {
  position: absolute;
  max-width: 250px;
  background: rgba(255, 255, 255, 0.06);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.app .content .contact .image .fistText {
  top: 0;
  left: 0;
}



.app .content .contact .image .fistText::before {
  content: "";
  position: absolute;
  border-width: 15px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.06) transparent transparent transparent;
  bottom: -30px;
  right: 10px;
}

.app .content .contact .image .secText {
  bottom: -60px;
  right: 0;
}

.app .content .contact .image .secText::before {
  content: "";
  position: absolute;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.06) transparent;
  top: -30px;
  left: 10px;
}

@media(max-width:767px) {
  .app .content .contact .image .fistText {
    max-width: 100%;
    top: -40px;
  }

  .app .content .contact .image .fistText::before {
    right: 50%;
    margin-right: -10px;
  }
}

@media(max-width:767px) {
  .app .content .contact .image .secText {
    max-width: 100%;
  }

  .app .content .contact .image .secText::before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.home.section.active .box {
  animation: moveLeft 0.5s linear forwards;
}

.home.section.active .image {
  animation: moveRight 0.5s linear forwards;
}

.lightBox {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  opacity: 0;
}

.lightBox.show {
  left: 0;
  opacity: 1;
}

.lightBox.show .image {
  animation: show 0.5s 0.5s linear forwards;
}

.lightBox .image {
  width: 600px;
  position: relative;
  height: 450px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  opacity: 0;
}

@media (min-width: 0px) and (max-width: 767px) {
  .lightBox .image {
    width: 350px;
  }
}

.lightBox .image i {
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
  background: #f05;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #FFF;
  border-radius: 4px;
  top: -14px;
}

.lightBox .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

/*# sourceMappingURL=main.css.map */